<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写UserMapper位置-->
<mapper namespace="com.example.demo1.Product.ProductMapper">
    <select id="findAll" resultType="com.example.demo1.Product.Product">
        SELECT * FROM  products
    </select>
</mapper>